INFLUXDB_INIT_USERNAME=admin
INFLUXDB_INIT_PASSWORD=change-me-local-password
INFLUXDB_INIT_ORG=utp
INFLUXDB_INIT_BUCKET=sensors
INFLUXDB_INIT_ADMIN_TOKEN=change-me-local-token

INFLUXDB_URL=http://influxdb:8086
INFLUXDB_ORG=utp
INFLUXDB_BUCKET=sensors
INFLUXDB_TOKEN=change-me-local-token
